
:host {
	display: inline-block;
    padding: 0px 2%;
    z-index: 421;
    line-height: 64px;
	cursor: pointer;
}

svg {
	float: left;
}

/* tooltips css logic */
.helper-txt {
	visibility: hidden;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: "gotham_mediumregular";
    background-color: #262626aa;
    color: #fff;
    text-align: center;
    padding: 0px 5px;
    border-radius: 6px;
	transform: translateX(-92vw);
    opacity: 0;
	transition: opacity 1s;
}

.helper-txt::after {
	content: " ";
	bottom: 100%;
	left: 94%;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #262626aa transparent;
}

*:hover > .helper-txt,
*:active > .helper-txt {
	visibility: visible;
	opacity: 1;
}

*:not:active > .helper-txt {
	/* animation: 1s ease-in slowHideAway; */
	visibility: hidden;
	opacity: 0;
	transition: all 2s ease-in;
}
/* --- */
 