svg {
	padding: 0px 10px 0px 10px;
	width:32px;
	height:32px;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.centre {
	margin-left: auto;
	margin-right: auto;
	display: none;
	width: fit-content;
	height: 100%;
	user-select: none;
	transform: translateX(-20px);
}

.bckg {
	display: none;
	background-color: #4caf50;
	height: 5px;
	width: 100%;
	bottom: 0;
	transition: height 0.3s ease-out;
}

p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0%;
}

:host {
	position: fixed; 
	bottom: 61px;
	max-height: 40px;
	min-height: 5px;
	min-width: 100%;
	z-index: 420;
	user-select: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: white;

}