
/*:host {
	display: block;
	min-width: 50px;
	max-width: 100%;
	min-height: 18px;
    padding: 0px 2%;
    z-index: 421;
    line-height: 64px;
	cursor: pointer;
}*/

svg {
	color: white;
	width:32px;
	height:32px;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.centre {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: fit-content;
	height: 100%;
}

.bckg {
	display: none;
	background-color: rgba(9, 34, 9, 0.616);
	height: 100%;
	width: 100%;
	bottom: 0;
}

p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0%;
}



:host {
	min-height: 32px;
	min-width: 160px;
	z-index: 420;
	user-select: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: white;

}

/* tooltips css logic 
.helper-txt {
	visibility: visible;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: "gotham_mediumregular";
    background-color: #8a82822a;
    color: #fff;
    text-align: center;
    padding: 0px 5px;
    border-radius: 6px;
	transform: translateX(-92vw);
    opacity: 1;
	transition: opacity 1s;
}

/*
.helper-txt::after {
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #262626aa transparent;
}

*:hover > .helper-txt,
*:active > .helper-txt {
	visibility: visible;
	opacity: 1;
}

*:not:active > .helper-txt {
	/* animation: 1s ease-in slowHideAway; 
	visibility: hidden;
	opacity: 0;
	transition: all 2s ease-in;
}
/* --- */
 